---
import MainLayout from "../../layouts/MainLayout.astro";
import { getEntry } from 'astro:content';
import { formatDate } from "../../utils";

const { slug } = Astro.params;

if(slug === undefined) {
  throw new Error('Slug is required');
}

const entry = await getEntry('blog', slug);

if(entry === undefined) {
  return Astro.redirect('/404');
}

const { Content } = await entry.render();
---

<MainLayout>
  <a href="/articles" class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white">Back To Articles</a>
  <article>
    <h1 class="text-4xl font-bold mb-2"> {entry.data.title}</h1>
    <h3 class="text-lg mb-2">Written by {entry.data.author} on {formatDate(entry.data.pubDate)}</h3>
    <div class="flex flex-wrap gap-2 mb-6">
      {entry.data.tags.map((tag: string, index: number) => (
        <span
        class={index % 2 === 0 ? "px-2 py-1 bg-green-500 text-white rounded-full text-xs hover:opacity-90" : "px-2 py-1 bg-indigo-500 text-white rounded-full text-xs hover:opacity-90"}
        ><a href={'/articles/tag/' + tag}>{tag}</a></span>
       ))}
    </div>
    <img src={'/images/' + entry.data.image} alt="Article Image" class="w-full h-auto rounded-xl mb-6" />
    <Content />
  </article>
</MainLayout>

<style is:global>
  p {
    margin: 20px 0;
  }

  h2 {
    margin: 20px 0;
    font-size: 1.8rem;
  }
</style>