---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from 'astro:content';
import type { CollectionEntry } from "astro:content";
import { formatDate } from '../../utils';

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((a:CollectionEntry<'blog'>, b:CollectionEntry<'blog'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<MainLayout>
<h1 class="text-2xl pb-3">All Articles</h1>
<!-- Main Grid -->
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
  {allBlogArticles.map(article => (
    <div class="max-w-md mx-auto mt-10">
    <div class="bg-white rounded-lg overflow-hidden shadow-lg">
      <a href={'/articles/' + article.slug}>
        <img
          src={'/images/' + article.data.image}
          alt="Article Image"
          class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
        />
      </a>
      <div class="p-6">
        <h2 class="text-2xl font-semibold mb-2">
          <a href={'/articles/' + article.slug}> {article.data.title} </a>
        </h2>
        <p class="text-gray-600 text-sm mb-4">{formatDate(article.data.pubDate)}</p>
        <div class="flex flex-wrap gap-2">
         {article.data.tags.map((tag: string, index: number) => (
          <span
          class={index % 2 === 0 ? "px-2 py-1 bg-green-500 text-white rounded-full text-xs hover:opacity-90" : "px-2 py-1 bg-indigo-500 text-white rounded-full text-xs hover:opacity-90"}
          ><a href={'/articles/tag/' + tag}>{tag}</a></span>
         ))}
        </div>
      </div>
    </div>
  </div>
  ))}
</div>

  <!-- Pagination -->
  <div class="flex justify-between mt-10">
    <a href="#" class="inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg">
      Previous
    </a>
    <a href="#"
      class="inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg">
      Next
    </a>
  </div>
</MainLayout>