---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";

import about from "../images/about.jpg";
import team1 from "../images/team1.png";
import team2 from "../images/team2.png";
import team3 from "../images/team3.png";
---

<MainLayout title="About The TechPeople Blog">
  <h1 class="text-4xl font-bold mb-5"> About TechPeople</h1>
  <div class="flex flex-col md:flex-row items-center justify-between gap-6">
    <div class="w-full md:w-1/2 mb-8 md:mb-0">
        <Image src={about} alt="Tech People Team" class="w-full h-auto rounded-lg shadow-lg"/>
    </div>
    <div class="w-full md:w-1/2">
        <h2 class="text-3xl font-extrabold text-gray-900 mb-4">
            Who We Are
        </h2>
        <p class="text-gray-700 leading-relaxed mb-6">
            We are Tech People, a passionate team of tech enthusiasts dedicated to bringing you the latest news, articles, and tutorials on all things technology.
        </p>
        <p class="text-gray-700 leading-relaxed mb-6">
            Our mission is to empower and educate our readers, helping them stay up-to-date with the rapidly evolving world of technology. Whether you're a seasoned developer, a gadget enthusiast, or just curious about the latest tech trends, we've got you covered.
        </p>
       
    </div>
</div>

<!-- Team -->
<div class="mt-10">
  <h2 class="text-3xl font-extrabold text-gray-900 mb-8">
    Our Team
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <Image src={team1} alt="Team Member 1" class="w-full h-auto"/>
        <div class="p-6">
            <h3 class="text-xl font-semibold text-gray-900 mb-2">John Doe</h3>
            <p class="text-gray-70">Founder & Editor-in-Chief</p>
        </div>
    </div>
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <Image src={team2} alt="Team Member 2" class="w-full h-auto"/>
        <div class="p-6">
            <h3 class="text-xl font-semibold text-gray-900 mb-2">Paul Newman</h3>
            <p class="text-gray-70">Lead Writer</p>
        </div>
    </div>
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <Image src={team3} alt="Team Member 3" class="w-full h-auto"/>
        <div class="p-6">
            <h3 class="text-xl font-semibold text-gray-900 mb-2">Johanna Johnson</h3>
            <p class="text-gray-70">Tech Analyst</p>
        </div>
    </div>
  </div>
</div>
</MainLayout>