---
import { formatDate } from "../utils";
import type { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";

const { article } = Astro.props;

interface Props {
  article: CollectionEntry<'blog'>;
}
---


<div class="max-w-md mx-auto mt-10">
  <div class="bg-white rounded-lg overflow-hidden shadow-lg">
    <a href={'/articles/' + article.slug}>
      <img
        src={'/images/' + article.data.image}
        alt="Article Image"
        class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
      />
    </a>
    <div class="p-6">
      <h2 class="text-2xl font-semibold mb-2">
        <a href={'/articles/' + article.slug}> {article.data.title} </a>
      </h2>
      <p class="text-gray-600 text-sm mb-4">{formatDate(article.data.pubDate)}</p>
      <Tags tags={article.data.tags} />
    </div>
  </div>
</div>