---
const { currentPage, totalPages } = Astro.props;

interface Props {
  currentPage: number;
  totalPages: number;
}
---
<div class="flex justify-between mt-10">
  <a href={'/articles?page=' + (currentPage - 1)} class="inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg">
    Previous
  </a>
  <a href={'/articles?page=' + (currentPage + 1)} 
    class="inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg">
    Next
  </a>
</div>