---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION} from '../constants';

const { title = 'Articles, Stories & Tutorials For Tech People' } = Astro.props;

interface Props {
  title?: string;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>{SITE_TITLE} - {title}</title>
  </head>
  <body class="">
   <Navbar />

    <section class="container mx-auto max-w-screen-xl mt-10 px-8">
      <slot />
    </section>

   <Footer />
  </body>
</html>

    